---
import { URL_BASE } from "../../consts";
import { tag2Color } from "./tagUtils";

type Props = {
  tag: string;
  num: number;
  showCount?: boolean;
};

const { tag, num, showCount = true } = Astro.props;
const color = tag2Color(tag);
const onclick = `location.href="${URL_BASE}/tag/${tag}/1"`;
---

<button
  class={`inline-flex items-center m-1 px-1.5 py-1 text-base font-medium text-center text-${color}-50 bg-${color}-600 rounded-lg hover:bg-${color}-700`}
  onclick={onclick}
>
  {tag}
  {
    showCount ? (
      <span
        class={`ms-1 inline-flex h-5 w-5 items-center justify-center text-xs font-semibold text-${color}-800 bg-${color}-200 rounded-full`}
      >
        {num}
      </span>
    ) : null
  }
</button>
