---
import { URL_BASE } from "../../consts";

type Props = {
  tag: string;
  num: number;
  showCount?: boolean;
  size?: "btn-sm" | "btn-xs";
};

const { tag, num, showCount = true, size = "btn-sm" } = Astro.props;
const onclick = `event.preventDefault();location.href='${URL_BASE}/tag/${tag}/1'`;
---

<button class={`btn ${size} btn-outline btn-primary`} onclick={onclick}>
  {tag}
  {showCount ? <div class={`badge badge-primary`}>{num}</div> : null}
</button>
