---
import { Image } from "astro:assets";
import by from "./cc-icons-svg/by.svg";
import cc from "./cc-icons-svg/cc.svg";
import nc from "./cc-icons-svg/nc.svg";
import nd from "./cc-icons-svg/nd.svg";
import sa from "./cc-icons-svg/sa.svg";
import zero from "./cc-icons-svg/zero.svg";

interface Props {
  licenseText?: string;
}
const { licenseText = "null" } = Astro.props;
const licenseRaw = licenseText.toUpperCase().trim();
const validLicenses = ["CC0", "CC BY", "CC BY-SA", "CC BY-NC", "CC BY-NC-SA", "CC BY-ND", "CC BY-NC-ND"];
const license = validLicenses.includes(licenseRaw) ? licenseRaw : null;
const licenseWithNumber = license === "CC0" ? "CC0 1.0" : `${license} 4.0`;
let licenseUrl =
  license === "CC0"
    ? "https://creativecommons.org/publicdomain/zero/1.0/"
    : license
      ? `https://creativecommons.org/licenses/${license.slice(3)}/4.0`
      : null;
---

{
  license && (
    <div class="license text-center text-sm">
      This work is licensed under
      <a rel="license" href={licenseUrl} class="inline-flex text-orange-500 hover:text-black hover:underline">
        {licenseWithNumber}
        <div class="mx-1 flex h-5">
          <Image class="ml-0.5 w-5" src={cc} alt="CC" />
          {license.includes("CC0") && <Image class="ml-0.5 w-5" src={zero} alt="0" />}
          {license.includes("BY") && <Image class="ml-0.5 w-5" src={by} alt="BY" />}
          {license.includes("NC") && <Image class="ml-0.5 w-5" src={nc} alt="NC" />}
          {license.includes("SA") && <Image class="ml-0.5 w-5" src={sa} alt="SA" />}
          {license.includes("ND") && <Image class="ml-0.5 w-5" src={nd} alt="ND" />}
        </div>
      </a>
    </div>
  )
}
