---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { ViewTransitions } from "astro:transitions";
import { URL_BASE } from "../consts";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description = "メモ", image = URL_BASE + "/nonsense1.webp" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href={URL_BASE + "/favicon.png"} />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Font preloads -->
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap" rel="stylesheet" />

<!-- Katex CSS -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
  integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww"
  crossorigin="anonymous"
/>

<style>
  html {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAABPElEQVRYR+2V4Q1EQBCFdysQDdCBCqiACuhABTrQgQ6oQCc60MBFBS5vk7m4i/ux3iYnuZH4g0m+/ebNsObml705n1FAtkNqUA2yBth6zaAaZA2w9UEzOI5jvG2bY2rb9sHCof6/AHHiYRicxSRJTF3XxlpLmQxqUFo6z3O8LIuDbJrm94AAAkyWZS8YmAyRRcqgQABEhqPrOidymib3jB0Wb8B9350ZARBLkr0oigzuEHCXplisoaVVVb3lq+97Bx8ie5Jnb4PYdSg+C7+8W9fV5HluiqKgBuSSwW/LV5Y0MgeTaPMxfzB/JY/eBr8BAkDafmy1DM/ViQ4CeLZSZGgA9mnT5xcYDBAQ7FI+A/8fQJy+LEuTpik9uUeTQQz6ZMr3WwX0Nfb5vRpUg6wBtl4zqAZZA2y9ZpA1+ARFb4kpQes0qwAAAABJRU5ErkJggg==");
    background-repeat: repeat;
  }
  body {
    font-family: "IBM Plex Sans JP", sans-serif;
  }
</style>

<ViewTransitions />
