---
import { AUTHOR } from "../consts";
const today = new Date();
const startYear = 2023;
const currentYear = today.getFullYear();
const year = currentYear > startYear ? `${startYear}-${currentYear}` : `${startYear}`;
---

<footer class="footer footer-center mt-auto bg-base-300 p-4 text-base-content">
  <aside>
    <p>
      &copy; {year}&thinsp;{AUTHOR}. All rights reserved.
    </p>
  </aside>
</footer>
