---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { URL_BASE } from "../consts";
import FormattedDate from "./FormattedDate.astro";
import TagList from "./Tag/TagList.astro";

type Props = { posts: CollectionEntry<"memo">[] };
const { posts } = Astro.props;
---

<div class="grid grid-cols-1 gap-4 md:grid-cols-3">
  {
    posts.map(post => (
      <a class="card glass w-full bg-base-200 shadow-xl" href={`${URL_BASE}/memo/${post.slug}/`}>
        <figure>
          {post.data.heroImage ? (
            <Image
              src={post.data.heroImage}
              alt={post.data.title}
              class="hero-image h-48 w-full object-cover"
              transition:name={`hero-image-${post.slug}`}
            />
          ) : (
            <Image
              src={`${URL_BASE}/default.webp`}
              width="2"
              height="2"
              alt={post.data.title}
              class="hero-image h-48 w-full object-cover"
            />
          )}
        </figure>
        <div class="card-body">
          <div class="text-balance text-sm text-primary" transition:name={`date-${post.slug}`}>
            <FormattedDate date={post.data.pubDate} />
          </div>
          <h2 class="card-title" transition:name={`title-${post.slug}`}>
            {post.data.title}
          </h2>
          <TagList tags={post.data.tags} size="btn-xs" showCount={false} />
        </div>
      </a>
    ))
  }
</div>

<style>
  .card:hover {
    transform: translateY(-0.4rem);
  }

  .card {
    transition: transform 0.3s ease;
  }
</style>
