---
import type { GetStaticPathsOptions } from "astro";
import { getCollection } from "astro:content";
import Pagination from "../../components/Pagination.astro";
import PostList from "../../components/PostList.astro";
import { POSTS_PER_PAGE, URL_BASE } from "../../consts";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = (await getCollection("memo")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  return paginate(posts, { pageSize: POSTS_PER_PAGE });
}

const { page } = Astro.props;
---

<BaseLayout title={`memo ${page.currentPage}ページ`} description=`memo ${page.currentPage}ページです`>
  <h3 class="mb-8 text-center text-3xl font-bold">{page.currentPage}</h3>
  <PostList posts={page.data} />
  <div class="mt-5 flex justify-center">
    <Pagination page={page} url={`${URL_BASE}/memo/`} />
  </div>
</BaseLayout>
