---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import CreativeCommons from "../components/CreativeCommons/CreativeCommons.astro";
import FormattedDate from "../components/FormattedDate.astro";
import TagList from "../components/Tag/TagList.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"memo">["data"];

const { title, description, pubDate, updatedDate, license, tags, heroImage } = Astro.props;
const {slug} = Astro.params;
---

<BaseLayout title={title} description={description || ""} image={heroImage?.src}>
  <article>
    {
      heroImage && (
        <Image
          src={heroImage}
          alt={title}
          class="max-h-[50vh] w-full rounded-xl object-cover"
          transition:name={`hero-image-${slug}`}
        />
      )
    }
    <div class="mb-8 mt-4 text-center">
      <div class="date text-primary" transition:name={`date-${slug}`}>
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div>
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <h1 class="mb-5 mt-2 break-words text-3xl font-bold" transition:name={`title-${slug}`}>{title}</h1>
      <TagList tags={tags} showCount={false} />
    </div>
    <slot />
    <div class="mt-4">
      <CreativeCommons licenseText={license} />
    </div>
  </article>
</BaseLayout>
