---
import type { CollectionEntry } from "astro:content";
import CreativeCommons from "../components/CreativeCommons/CreativeCommons.astro";
import FormattedDate from "../components/FormattedDate.astro";
import TagList from "../components/Tag/TagList.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, license, tags } = Astro.props;
---

<BaseLayout title={title} description={description || ""}>
  <article>
    <div class="mb-8 text-center">
      <div class="date">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div>
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <h1 class="mt-2 break-words text-5xl">{title}</h1>
      <hr class="mt-4" />
    </div>
    <slot />
    <div class="mt-4">
      <TagList tags={tags} />
      <CreativeCommons licenseText={license} />
    </div>
  </article>
</BaseLayout>
